@using Entidades
@model List<E_Pelicula>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <h1>Cartelera</h1>
        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success"><b>@TempData["mensaje"]</b></div>
        }
        @if (TempData["ERROR"] != null)
        {
            <div class="alert alert-danger"><b>@TempData["ERROR"]</b></div>
        }
        <a href="/Home/VistaAgregar" class="btn btn-primary">Agregar</a>

        @*<table class="table table-striped table-hover table-bordered text-center">
                <thead class="table-success">
                    <tr>
                        <th>ID</th>
                        <th>nombre</th>
                        <th>Genero</th>
                        <th>Fecha Lanzamiento</th>
                        <th>Imagen</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (E_Pelicula pelicula in Model)
                    {
                    <tr>
                        <td>@pelicula.IDPelicula</td>
                        <td>@pelicula.Nombre</td>
                        <td>@pelicula.Genero</td>
                        <td>@pelicula.FechaLanzamiento.ToString("yyyy-MMMM-dd")</td>
                        <td>@pelicula.nombreImagen</td>
                        <td><a href="/Home/VistaEditar/?ID=@pelicula.IDPelicula" class="btn btn-primary">Editar</a></td>
                        <td><a href="/Home/VistaEliminar/?ID=@pelicula.IDPelicula" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    }
                </tbody>
            </table>*@
        <div class="row">
            @foreach (E_Pelicula pelicula in Model)
            {
                <div class="col-3 mb-3">
                    <div class="card">
                        <img src="~/Imagenes/@pelicula.nombreImagen" class="card-img-top" style="height:350px" />
                        <div class="card-body">
                            <h5 class="card-title">@pelicula.Nombre</h5>
                            <p>@pelicula.Genero</p>
                            <p><b>Fecha de lanzamiento</b>@pelicula.FechaLanzamiento</p>

                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
